# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Environments
.env
.venv
venv/
ENV/

# Testing
tests/

# uv
.python-version

# IDE
.cursor/
.vscode/
