# General
ENVIRONMENT=development
DEBUG=False
APP_NAME="Personal Finance API"

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=finance

# AWS Cognito
COGNITO_REGION="us-east-1"
COGNITO_USER_POOL_ID="us-east-1_example"
COGNITO_APP_CLIENT_ID="example_client_id"

# Versioning
COMMIT_SHA="development"

# Observability
ENABLE_METRICS=True
SENTRY_DSN=""
